.common-component { 
  &--image-enlarged {
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  &--img-height {
    height: 150px;
  }
  &--fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  &--color {
    color: rgb(248, 92, 1);
  }
  &--card-grid {
    flex-shrink: 0;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &--page-padding {
    padding: 20px;
  }
}
.nav {
  &--bar {
    background-color: rgb(248, 92, 1);
    padding: 10px;
    position: relative;
    z-index: 99;
  }

  &--list {
    list-style: none;
    display: flex;
  }

  &--list li {
    margin-right: 20px;
  }

  &--list li a {
    color: white;
    text-decoration: none;
  }

  &--list li a:hover {
    text-decoration: underline;
    font-weight: 900;
  }
  &--list li a:active {
    font-weight: 900;
    color: rgb(0, 0, 0);
  }
  &--title {
    color: #e8e6e3;
    text-transform: capitalize;
    font-family: "Suwannaphum", serif;
    font-size: 16px;
    padding-top: 4px;
  }
}
.menu {
  &--title {
    color: #e8e6e3;
    text-transform: capitalize;
    font-family: "Suwannaphum", serif;
    font-size: 16px;
  }
  &--list a {
    color: white;
    text-decoration: none;
  }

  &--list a:hover {
    text-decoration: underline;
    font-weight: 900;
  }
  &--list a:active {
    font-weight: 900;
    color: rgb(0, 0, 0);
  }
}

.button-data {
  &--card-layout {
    height: 100%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
  }
  &--card-list {
    width: 200px;
  }
  &--card-grid {
    width: 100%;
  }
}

.page-title {
  &--title {
    font-family: "Suwannaphum", serif;
    font-style: italic;
    font-size: 24px;
    background-color: #ff6600;
  }
}

.scroll-box {
  &--scroll-box {
    width: auto;
    height: 380px;
    overflow: auto;
    border: 1px solid #ff6600;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  &--card-arr {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    text-align: center;    
    padding-top: 20px;
  }
}

.button{
  &--color {
    color: #ff6600;
    margin: 10px;
  }
  &--active {
    font-weight: 900;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}