.common {
  &--padding{
    padding: 20px;
  }
  &--padding-top {
    padding-top: 20px;
  }
  &--image-enlarged {
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  &--button-active {
    font-weight: bolder;
  }
}

.home {
  &--header-text {
    color: white;
    padding: 20px 0 20px 0;
    font-style: oblique;
    font-weight: 900;
    font-family: "Roboto Mono", monospace;
    color: rgb(248, 92, 1);
    text-shadow: 2px 2px rgb(7, 7, 7);
    text-align: center;
  }
  &--header-title {
    font-size: 60px;
  }
  &--header-message {
    font-size: 20px;
  }
  &--header-image {
    background-image: url("../../public/header.jpeg");
    background-size: cover;
    background-position: center;
    height: 200px;
    align-items: center;
    justify-content: center;
  }
  &--footer {
    position: fixed;
    background-color: rgb(248, 92, 1);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    font-size: smaller;
  }
}

.trending {
  &--card-list {
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  &--highlight {
    border: 1px rgb(138, 138, 241) solid;
    background-color: rgb(191, 232, 240);
  }
}

.popular{
  &--button {
    color: antiquewhite;
  }
}

.now-playing {
  &--card-arr {
    display: flex;
    flex-wrap: wrap;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9900;
  border-radius: 50px;
}

.details{
  &--display-flex{
    display: flex;
    justify-content: center;
  }
  &--justify {
    justify-content: center;
    text-align: center;
    display: flex;
    z-index: 99;
  }
  &--padding-top {
    padding-top: 20px;
  }
  &--emphasize {
    font-size: 24px;
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: rgb(68, 67, 67);
    padding-bottom: 20px;
  }
  &--absolute{
    position: absolute;
  }
}